nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 4%;
    font-family: 'Raleway', sans-serif;
}
div.logo{
    width: 120px;
}
.logo > img{
    width: 100%;
}
.nav-links{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.nav-links > a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}
.nav-links > a:hover{
    text-decoration: underline;
}

@media(min-width: 800px){
    nav{
        padding: 3% 4%;
    }
    .nav-links{
        grid-gap: 30px;
    }
    div.logo{
        width: 150px;
    }
}